<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="website icon" href="{{url_for('static', filename='logo.png')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
</head>
<body>
    <div class="header">
        <div class="topnav-bar-main-mfbd">
            <div class="img-and-logo----mfbd">
                <a id="img_main" href="index.html"><img src="{{url_for('static', filename='logo.png')}}" class="topnav-bar----img"></a>
                
                <a href="index.html"><span class="topnav-bar----txt">Chatbot</span> </a>
            </div>
            <div class="topnav_buts">
                <button id="export">Export</button>
                <button id="clear">Clear Chat</button>
            </div>
            
        </div>

    </div>
    <div class="content-area">
        <div id="centre_msg">
            <h1>ChatBot</h1>
            <h4>- You can ask any questions regarding 10th & 11th Geography and History.</h4>
            <h4>- Press the Export Button or Send "export" in the chat to get a file containing this conversation.</h4>
            <h4>- Press the Clear Button or Send "clear" in the clear this whole conversation</h4>
        </div>
        <!-- Chat content goes here  -->
    </div>
    <div class="containingchatbox">
        <div class="chatBoxArea">
            <textarea placeholder="Ask something" id="chatholder"></textarea>
            <button id="submitbutton"><img src="{{url_for('static', filename='send.png')}}"></button>
        </div>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <script>   </script>
</body>

</html>


