body, html {
    margin: 0%;
    background-color: rgb(38, 38, 49); 
}
@font-face {
    font-family: Pixel;
    src: url(PixelBold.ttf);
}

@keyframes clickanim {
    0% {transform: scale(1)}
    50% {transform: scale(0.9)}
    100% {transform: scale(1)}   
}
@font-face {
    font-family: OpenSans;
    src: url(OpenSans-VariableFont_wdth\,wght.ttf);
}

a {
    text-decoration: none;
    
}

.header {
    background: rgb(38,38,49);
    background: linear-gradient(0deg, rgba(38,38,49,1) 0%, rgba(16,16,20,1) 250%);

    z-index: 15;
    height: 50px;
    top: 0px;
    position: fixed;
    width: 100%;
    margin: 0px;
    border-width: 0px 0px 0.1px 0px;
    border-style: solid;
    display: grid;
    justify-content: center;
    border-color: rgb(49, 49, 65);
    background-color: rgb(38, 38, 49);
}

#img_main {
    width: min-content;
    
}

.topnav-bar----img  {
    width: 30px;
    cursor: pointer;
    
}

.topnav-bar----txt:hover {
    color:#8ab3ff
}

.topnav-bar----txt {
    font-family: OpenSans;
    color: whitesmoke;
    font-size: 17px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.5s;
    text-shadow: black 3px 4px 15px;
}

.img-and-logo----mfbd {
    position: relative;
    display: grid;
    grid-template-rows: auto;
    gap: 8px;
    grid-template-columns: min-content auto;
    align-items: center;
}
.topnav_buts {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 9px;
    align-items: center;
}

#export:hover {
    background-color: #18181f;
}

#export {
    animation-duration: 0.3s;
    font-size: 12px;
    color: white;
    border-color: #0e0e0e #353742 #353742 #0e0e0e;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    font-family: OpenSans;
    font-weight: 700;
    padding: 6px 10px;
    align-self: center;
    transition: all 0.5s;
    cursor: pointer;
}
.topnav-bar-main-mfbd {
    
    display: grid;
    width:  85vw;
    grid-template-columns: auto auto ;
    grid-template-rows: min-content;
    margin: 5px 80px;
    justify-content: space-between;
}




#clear:hover {
    background-color: #0e0e0e;
}

#clear {
    text-shadow: black 3px 4px 9px;
    animation-duration: 0.3s;
    font-size: 12px;
    color: white;
    background-color: transparent;
    border-color: #0e0e0e #353742 #353742 #0e0e0e;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    font-family: OpenSans;
    font-weight: 700;
    padding: 6px 10px;
    align-self: center;
    transition: all 0.5s;
    cursor: pointer;
}
#chats {
    background-color: transparent;
    border: none;
}

#menupng {
    width: 33px;
    cursor: pointer;
    
}

.content-area {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 51px - 88px);
    max-width: 100%;
    top: 51px;
    margin-left: 20px;
    overflow-y:scroll;
}

#chats_msgs {
    z-index: 5;
    background-color: #353742;
    border-radius: 7px;
    font-family: OpenSans;
    color: white;
    padding: 5px 10px;
    margin: 6px;
    font-size: small;
    width: fit-content;
    max-width: calc(100vw- 20px);
    word-wrap: break-word;
}

.chatDisplayArea {
    position: relative;

}

.chatBoxArea {
    margin: 15px 30px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 50px;
    max-width: 85vw;
    width: 100%;
    
}

#chatholder {
    flex-shrink: 1;
    font-family: OpenSans;
    font-size: 15px;
    font-weight: 500;
    color:#ffffff;
    outline: none;
    padding: 10px 10px;
    width: calc(100% - 30px);
    background-color: rgb(58, 58, 70);
    border: none;
    border-radius: 10px;
    overflow-y: scroll;
    resize: none;

}
#submitbutton > img {
    height: 25px;
}
#submitbutton:hover {
    background-color: rgb(4, 119, 0);
    
}
#submitbutton  {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    animation-duration: 0.5s;
    flex-shrink: 3;
    cursor: pointer;
    padding: 0px 10px;
    border: none;
    background-color: transparent;
    border-radius: 10px;

}

.containingchatbox {
    z-index: 10;
    background: rgb(38,38,49);
    background: linear-gradient(180deg, rgba(38,38,49,1) 0%, rgba(16,16,20,1) 175%);
    width: 100%;
    height: 75px;
    position: fixed;
    bottom: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 3px;
  }


/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 4px;
  }
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.BOT_RESPONSE {
    justify-self: right;
}
#centre_msg > h1, h4 {
    color: rgb(74, 74, 90);
    font-family: OpenSans;
    font-weight:900;
    
}
#centre_msg > h1{
    text-align:center;
    line-height: 0px;
    pointer-events: none;
    
}
#centre_msg > h4 {
    color:rgb(72, 72, 85);
    font-size: small;
    pointer-events: none;
}

#centre_msg {
    pointer-events: none;
    width: 60vw;
    position: relative;
    left: 20vw;
    right: 20vw;
    top: 20vw;
}


/* Loading Animation  */

/* Loading Animation  */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 15px;
    margin: 7px;
    transform: scale(0.5);
  }
.lds-ellipsis div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
@keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
@keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
  
  